body{
  background-image:url("../images/images.jfif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:contain;
}
h1{
  color:blue;
}
p{
  color:#F033FF
}
strong{
  color:orange;
}
