body{
  background-image:url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
h1{
  color:white;
  text-align: center;
  }
h2{
  color:#FF0066
}
h3{
  color:orange;
}
li{
  color:orange
}


